<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411765918979-d18p3jggveck304398ic21ohm6dad4q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411765918979-d18p3jggveck304398ic21ohm6dad4q8</string>
	<key>API_KEY</key>
	<string>AIzaSyC2lV7aucruQRXepCYtMjnRB-qAE3hdCMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>411765918979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.call0953Manager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-568166903627460027</string>
	<key>STORAGE_BUCKET</key>
	<string>project-568166903627460027.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411765918979:ios:3dc1e44681cca81f4f6d36</string>
</dict>
</plist>